    # "ПЕРЕМЕННЫЕ ДЛЯ БАЗЫ ДАННЫХ"

DB_HOST=example
DB_PORT=example
DB_NAME=example
DB_USER=example
DB_PASS=example



    # "ПЕРЕМЕННЫЕ ДЛЯ ШИФРОВАНИЯ ПАРОЛЕЙ"

ACCESS_TOKEN_SECRET_KEY = "example"
REFRESH_TOKEN_SECRET_KEY = "example"
ALGORITHM = "example"


    # "ПЕРЕМЕННЫЕ ДЛЯ JWT ТОКЕНА"

ACCESS_TOKEN_EXPIRE_MINUTES = example
REFRESH_TOKEN_EXPIRE_DAYS = example


    # "ПЕРЕМЕННЫЕ ДЛЯ ШИФРОВАНИЯ СЕССИЙ"

SESSION_SECRET_KEY = "example"


    # "ПЕРЕМЕННЫЕ ВАЛИДАЦИИ"

MIN_USERNAME_LENGTH = example
MAX_USERNAME_LENGTH = example

MIN_PASSWORD_LENGTH = example
MAX_PASSWORD_LENGTH = example


